
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/schema">Schema</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!--
<h1>
  {{title}}
</h1>

<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/schema">Schema</a>
</nav>
-->



<!--
<a routerLink="/schemata">Schemata</a>
<router-outlet></router-outlet>

<app-schema-list></app-schema-list>
-->



<router-outlet></router-outlet>
