

<div *ngIf="schema">
  <h2>{{schema.name}} details!</h2>
  <!--<div>-->
    <!--<label>Name: </label>{{schema.name}}-->
  <!--</div>-->
  <div>
    <label>Name: </label>
    <input [(ngModel)]="schema.name" placeholder="name"/>
  </div>
  <div>
    <label>Schema: </label><br />
    <textarea [(ngModel)]="schema.rawSchema" cols="50" rows="6" placeholder="schema"></textarea>
  </div>
  <div>
    <label>URI: </label>
    <input [(ngModel)]="schema.uri" placeholder="uri"/>
  </div>
  <div>
    <label>Is Active?: </label>
    <!-- <input [(ngModel)]="schema.isActive" placeholder="isActive"/> -->
    <input type="checkbox" [(ngModel)]="schema.isActive" placeholder="isActive" />
  </div>
  <button (click)="onSaveSchema()">Save It!</button>
  <button (click)="goBack()">Back</button>
</div>
