

<div class="row">

  <div class="col-md-6">
    <h3> + My Dashboard </h3>
    <h4 class="bg-primary">Your Schema Count: {{schemata.length}}</h4>

    <a *ngFor="let schema of schemata"  [routerLink]="['/detail', schema.name]"  class="col-1-4">
      <!-- <div *ngFor="let schema of schemata" class="col-1-4"> -->
      <div class="module schema">
        <h4>{{schema.name}}</h4>
      </div>
    </a>
  </div>

  <div class="col-md-6">
    <h3> + Schemata Search </h3>
    <app-schema-search></app-schema-search>
  </div>

</div>






