<p>
  schema-list works!
</p>

<h1>{{title}}</h1>
<h2>My Json List</h2>

<ul class="schema-list">
  <li *ngFor="let schema of schemata; let i = index" [attr.data-index]="i"
      [class.selected]="schema === selectedSchema">
    <!--li *ngFor="let schema of schemata; let i = index" [attr.data-index]="i"
      [class.selected]="schema === selectedSchema"
      (click)="onSelectSchema(schema)" > -->
    <span class="badge"> {{ i }}</span>
    <a [routerLink]="['/detail', schema.name]"><b>{{ schema.name }}</b></a>
    <button class="delete"
      (click)="onDeleteSchema(schema); $event.stopPropagation()">x</button>
  </li>
</ul>


<div>
  <label>Json Object Name:</label>
  <input #schemaName />
  <button (click)="onAddSchema(schemaName.value); schemaName.value=''">
    Add
  </button>
</div>


<div *ngIf="selectedSchema">
  <h2>
    {{selectedSchema.name | uppercase}} is my Schema
  </h2>
  <button (click)="goToDetail()">View Details</button>
  <app-schema-detail [schema]="selectedSchema"></app-schema-detail>
</div>

